<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/home.css" />
    <link rel="stylesheet" href="../styles/user.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>CineRate</title>
  </head>

  <body>
    <div class="content">
      <div class="header">
        <div class="header-section-left">
          <div class="container-fluid">
            <a class="navbar-brand" href="/views/pages/user.html">
              <img src="../images/icon-popcorn.png" class="logo-image" />
              CineRate
            </a>
          </div>
        </div>

        <div class="header-section-center">
          <form role="search" id="form-search">
            <input
              type="search"
              id="query"
              name="query"
              placeholder="Search film..."
            />
          </form>
        </div>

        <div class="header-section-right">
          <div class="text-header">
            ФИЛЬМЫ&nbsp;И&nbsp;СЕРИАЛЫ&nbsp;БЕЗ&nbsp;ОГРАНИЧЕНИЙ
          </div>
          <button class="selected-films" type="button" id="basket-button">
            ИЗБРАННОЕ
          </button>
          <a href="index.html" class="auth-link" aria-disabled="false">ВЫЙТИ</a>
        </div>
      </div>

      <div class="body" id="main-part">
        <section id="section-recommendations">
          <div class="title-recommendations">Рекомендации</div>
          <div class="rows">
            <div class="column">
              <button
                class="cards"
                type="button"
                data-id="166428"
                title="Как приручить дракона 3"
              >
                <img
                  src="../images/how_to_train_your_dragon.jpg"
                  class="img-cards"
                  alt="Как приручить дракона 3"
                />
                <h3 id="film-name">Как приручить дракона 3</h3>
              </button>
            </div>
            <div class="column">
              <button
                class="cards"
                type="button"
                data-id="157336"
                title="Интерстеллар"
              >
                <img
                  src="../images/interstellar.jpg"
                  class="img-cards"
                  alt="Интерстеллар"
                />
                <h3 id="film-name">Интерстеллар</h3>
              </button>
            </div>
            <div class="column">
              <button
                class="cards"
                type="button"
                data-id="693134"
                title="Дюна 2"
              >
                <img src="../images/dune.jpg" class="img-cards" alt="Дюна 2" />
                <h3 id="film-name">Дюна 2</h3>
              </button>
            </div>
            <div class="column">
              <button
                class="cards"
                type="button"
                data-id="76600"
                title="Аватар: Путь воды"
              >
                <img
                  src="../images/avatar.jpg"
                  class="img-cards"
                  alt="Аватар: Путь воды"
                />
                <h3 id="film-name">Аватар: Путь воды</h3>
              </button>
            </div>
            <div class="column">
              <button
                class="cards"
                type="button"
                data-id="4348"
                title="Гордость и предубеждение"
              >
                <img
                  src="../images/pride_and_prejudice.jpg"
                  class="img-cards"
                  alt="Гордость и предубеждение"
                />
                <h3 id="film-name">Гордость и предубеждение</h3>
              </button>
            </div>
            <div class="column">
              <button
                class="cards"
                type="button"
                data-id="12445"
                title="Гарри Поттер и Дары Смерти: Часть 2"
              >
                <img
                  src="../images/harry potter.jpg"
                  class="img-cards"
                  alt="Гарри Поттер и Дары Смерти: Часть 2"
                />
                <h3 id="film-name">Гарри Поттер и Дары Смерти: Часть 2</h3>
              </button>
            </div>
          </div>
        </section>

        <div id="popular"></div>

        <footer class="footer">
          <p>&copy; 2024 CineRate. All rights reserved.</p>
          <p>Created by Gutnik Elina</p>
        </footer>
      </div>
    </div>
  </body>
  <script src="../scripts/popular.js"></script>
  <script src="../scripts/searchFilmUser.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      document
        .getElementById("basket-button")
        .addEventListener("click", function () {
          window.location.href = "/views/pages/list.html";
        });

      document.querySelectorAll(".cards").forEach(function (button) {
        button.addEventListener("click", function () {
          const movieId = button.getAttribute("data-id");
          const movieTitle = button.getAttribute("title");
          window.location.href = `/views/pages/descritpion-film.html?id=${movieId}&title=${movieTitle}`;
        });
      });
    });
  </script>
</html>
